@font-face {
    font-family: "Sniglet";
    src: url(./font/Sniglet-Regular.ttf) format("truetype");
  }
  
  @font-face{
    font-family: 'Special Elite';
    src: url(./font/SpecialElite-Regular.ttf) format('truetype');
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Special Elite", "Singlet", cursive;
    text-align: center;
    font-size: 20px;
} 

h1 {
    color: white;
    padding-top: 10px;
    font-size: 55px;
}

.grid-container {
    position: absolute;
    top: 16rem;
    left: 50%;
    transform: translate(-50%);
    width: 490px;
    height: 420px;
    background: rgb(61, 138, 254);
    /* background-color: rgb(117, 104, 230); */
    border: 1px solid black;
    padding: .5rem;
    display: none;
    margin-bottom: 10px;
}

a{
    text-decoration: none;
}

#playertype {
    width: 450px;
    margin: 0 auto;
    border: 2px solid rgb(71, 71, 71);
    border-radius: 5px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    display: none;
    height: 110px;
    flex-wrap: wrap;
}

#pvc-easy, 
#pvc-unbeatable{
    box-shadow: 0px 10px 14px -7px #9fb4f2;
    background: linear-gradient(to bottom, #7892c2 5%, #7cace6 100%);
    background-color: #7892c2;
    border-radius: 4px;
    border: 1px solid #4e6096;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    padding: 6px 12px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #283966;
}


#difficulty{
    flex-basis: 100%;
}

.slot {
    width: 65px;
    height: 65px;
    background: white;
    /* border: 1px solid black; */
    border-radius: 50%;
}

.play-mode {
    border: 2px solid rgb(71, 71, 71);
    border-radius: 5px;
    display: inline-block;
    width: 300px;
    padding: 5px 10px;
}

.play-mode > button, button{
    margin: 10px;
    box-shadow: 0px 10px 14px -7px #494a4d;
    background: linear-gradient(to buttom, #7892c2 5%, #7cace6 100%);
    background-color: #7892c2;
    color: #ffffff;
    border-radius: 4px;
    border: 1px solid #4e6096;
    display: inline-block;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    padding: 6px 12px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #283966;
  }

  .play-mode > button:hover {
    background: linear-gradient(to bottom, #7cace6 5%, #7892c2 100%);
    background-color: #7cace6;
}

.play-mode > button:active{
    position: relative;
    top: 1px;
}

.reset{
    display:none;
    margin: 0 auto;
}

form{
    display: none;
}

body{
    /* margin: 10px; */
    background: linear-gradient(to right, rgb(162, 176, 179), rgb(102, 93, 229));
    height: auto;
    width: 67%;
    margin: 20px auto;
    padding: 20px 0;
    border-radius: 10px;
}

html{
    background: linear-gradient(to right, #6495FF, #00FBFF);;
    /* background-image: url('https://cdn3.vectorstock.com/i/1000x1000/76/42/cute-game-background-of-mountains-and-grass-vector-9827642.jpg'); */
}

.players {
    border: 2px solid rgb(71, 71, 71);
    border-radius: 5px;
    width: 320px;
    margin: 0 auto;
    padding: 10px;
}

#player1-score {
    display: none;
}

#score{
    color: whitesmoke;
    font-weight: 600;
    border: 2px solid rgb(71, 71, 71);
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
    display: none;
    flex-direction: column;
    padding: 10px;
}

#score div:nth-child(1), 
#score div:nth-child(2) {
    padding-left: 5px;
}

.newGame {
    display: none;
    margin: 0 auto;
    margin-bottom: 5px;
}

input {
    outline: none;
    border-radius: 5px;
    /* background-color: rgba(255,255,255,0.5); */
    height: 2em;
    text-align: left;
    padding-left: 10px;
}

input:focus,
input:active,
input:hover {
    border-color: blueviolet;
}

footer {
    color: wheat;
    margin-top: 10px;
}